body {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("https://image.ibb.co/dv3bPk/bg.jpg");
  font-family: "Roboto Condensed";
}

body, a {
  color: rgb(94, 94, 92);
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.caxinha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10%;
}

.flex {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item {
  padding: 15px;
  font-size: 1.5625em;
  text-align: center;
}

.nome {
  font-size: 4.375em;
  padding: 4% 0;
  text-shadow: 2px 2px #000;
  margin: 0;
  text-align: center;
}

/* Pra funcionar em celular em pé */
@media only screen and (max-device-width: 600px) and (orientation: portrait) {
  body {
    background-size: 500%;
  }

  .nome {
    padding: 5% 0;
  }

  .caxinha {
    padding-top: 0;
  }

  .flex {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item, .nome {
    font-size: 500%;
  }
}

/* Pra funcionar em celular em ladinho */
@media only screen and (max-device-width: 800px) and (orientation: landscape) {
  body {
    background-size: 155%;
  }

  .nome {
    font-size: 500%;
    padding: 5% 0;
  }

  .caxinha {
    padding-top: 0;
  }

  .item {
    font-size: 250%;
  }
}

/* Pra funcionar em tablet em pé */
@media only screen and (min-device-width: 700px) and (orientation: portrait) {
  body {
    background-size: 350%;
  }

  .nome {
    font-size: 400%;
    padding: 5% 0;
  }

  .caxinha {
    padding-top: 0;
  }

  .flex {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item {
    font-size: 300%;
  }
}

/* Pra funcionar em tablet em ladinho */
@media only screen and (min-device-width: 800px) and (max-device-width: 1400px) and (orientation: landscape) {
  body {
    background-size: 165%;
  }

  .nome {
    font-size: 500%;
  }

  .caxinha {
    padding-top: 7%;
  }

  .flex {
    margin: 0 5%;
  }

  .item {
    font-size: 250%;
  }
}

@media only screen and (min-device-width: 1400px) and (max-device-width: 1700px) {
  .caxinha {
    padding-top: calc(10% - 3em);
  }
}
